{% extends 'base.html.twig' %}

{% block title %}Modifier Amenagement{% endblock %}

{% block body %}
<div class="exemple-wrapper">
    <h1>Modifier Amenagement</h1>

    {{ include('amenagement/_form.html.twig', {'button_label': 'Enregistrer modifications'}) }}
</div>
    


{% endblock %}
